
:root {
    --background-color: #0a0e12;
    --navigation-color: #28282c;
    --text-color: #cbc6c0;
    --text-color-inverted: #252525;
    --border-color: #4b4b52;

    --board-tile-hover-color: #111f36;
    --bingo-color-red: #e73232;
    --bingo-color-blue: #2e53fd;
    --bingo-color-green: #7de72e;
    --bingo-color-yellow: #ffef36;
    --bingo-color-orange: #ff852e;
    --bingo-color-purple: #742eff;
    --bingo-color-pink: #ff2dff;
    --bingo-color-aqua: #2dffd5;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    overflow-x: hidden;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 40px;
    margin: 0;
    padding: 2px 5px 10px;
    color: var(--text-color);
}

.main-container {
    padding: 20px;
}

.bingo-board {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid var(--border-color);
    background-color: #0a0e12;
    table-layout: fixed;
}

#bingo-container {
    max-width: 1000px;
}

.bingo-board td {
    height: 120px;
    padding: 10px;
    text-align: center;
    border: 1px solid #28282c;
    transition: box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.bingo-board td:hover {
    cursor: pointer;
}

.bingo-board td:not(.claimed-tile):hover {
    background-color: var(--board-tile-hover-color);
    box-shadow: inset black 0 0 20px -4px;
}

.bingo-board td.claimed-tile:hover {
    box-shadow: inset #361d5b 0 0 20px -4px;
}

@media (max-width: 768px) {
    .bingo-board td {
        height: 80px;
        padding: 5px;
    }
}

#tooltip {
    position: absolute;
    z-index: 10;
    background-color: var(--navigation-color);
    padding: 10px;
    max-width: 200px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
}

.main-grid {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    grid-gap: 10px;
}

.box-container {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    flex-wrap: wrap;
}

.box-container.container-padding {
    padding: 10px;
}

#color-selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 4px;
    max-width: 300px;
}

.color-picker {
    width: 70px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--border-color);
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
    transition: box-shadow 0.1s ease-in-out;
}

.color-picker:not(.selected) {
    box-shadow: inset black 0 0 25px -3px;
}

.color-picker.selected {
    border: 2px solid var(--text-color);
}

.color-picker:hover {
    box-shadow: inset black 0 0 14px -4px;
}

.color-picker:active {
    box-shadow: inset black 0 0 14px 0;
}

.claimed-tile {
    box-shadow: inset black 0 0 14px -4px;
}

.red {
    background-color: var(--bingo-color-red);
}

.blue {
    background-color: var(--bingo-color-blue);
}

.green {
    background-color: var(--bingo-color-green);
    color: var(--text-color-inverted);
}

.yellow {
    background-color: var(--bingo-color-yellow);
    color: var(--text-color-inverted);
}

.orange {
    background-color: var(--bingo-color-orange);
    color: var(--text-color-inverted);
}

.purple {
    background-color: var(--bingo-color-purple);
}

.pink {
    background-color: var(--bingo-color-pink);
}

.aqua {
    background-color: var(--bingo-color-aqua);
    color: var(--text-color-inverted);
}

.multi-color {
    color: var(--text-color-inverted);
    font-weight: bold;
}
